#posts
  - for post in @posts
    .post
      %h1.title= link_to post.title, post
      .date
        = nice_date post.created_at
      .content
        = markdown post.excerpt
        - if post.has_more?
          = link_to "Читать далее", post

